{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{%endblock%}
{% block content %}

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto mb-6">
            <p class="text-base text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
                <a class="text-indigo-600" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </p>
            <h1
                class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                {{article.title}}</h1>
        </div>
        <div class="prose prose-lg text-gray-500 mx-auto">
            {{article.content}}
            <p class="text-right">
                - {{  article.locale_date }}
            </p>
        </div>

        <!-- RELATED posts -->
        <div class="bg-white pt-16 pb-8 px-4 sm:px-6 lg:pt-24 lg:pb-9 lg:px-8">
            <div class="relative max-w-lg mx-auto lg:max-w-7xl">
                <div>
                    <h2
                        class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
                        Loved it?
                    </h2>
                    <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
                        <p class="text-xl leading-7 text-gray-500">
                            Get weekly tips in your inbox.
                        </p>
                        <form class="mt-6 flex lg:mt-0 lg:justify-end">
                            <input aria-label="Email address" type="email" required
                                class="appearance-none w-full px-4 py-2 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out lg:max-w-xs"
                                placeholder="Enter your email">
                            <span class="ml-3 flex-shrink-0 inline-flex rounded-md shadow-sm">
                                <button type="button"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                                    Get it
                                </button>
                            </span>
                        </form>
                    </div>
                </div>
                {% if article.related_posts %}
                <div class="mt-6 grid gap-16 border-t-2 border-gray-100 pt-10 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
                    {% for related_post in article.related_posts %}
                    <div>
                        <p class="text-sm leading-5 text-gray-500">
                            <time datetime="">{{related_post.locale_date}}</time>
                        </p>
                        <a href="#" class="block">
                            <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
                                {{related_post.title}}
                            </h3>
                            <p class="mt-3 text-base leading-6 text-gray-500">
                                {{related_post.summary}}
                            </p>
                        </a>
                        <div class="mt-3">
                            <a href="{{related_post.url}}"
                                class="text-base leading-6 font-semibold text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150">
                                Read full story
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <!-- END Related posts-->

        {% include 'adsense.html' %}
    </div>
</div>

<!-- SUBSCRIBE -->
<div class="bg-gray-800">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center">
        <div class="lg:w-0 lg:flex-1">
            <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-white sm:text-4xl sm:leading-10"
                id="newsletter-headline">
                New stories every week in your inbox!
            </h2>
            <p class="mt-3 max-w-3xl text-lg leading-6 text-gray-300">
                No boring, ordinary stories.
            </p>
        </div>
        <div class="mt-8 lg:mt-0 lg:ml-8">
            <form class="sm:flex" aria-labelledby="newsletter-headline">
                <input aria-label="Email address" type="email" required
                    class="appearance-none w-full px-5 py-3 border border-transparent text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 transition duration-150 ease-in-out sm:max-w-xs"
                    placeholder="Enter your email">
                <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
                    <button
                        class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:bg-indigo-400 transition duration-150 ease-in-out">
                        Get it
                    </button>
                </div>
            </form>
            <p class="mt-3 text-sm leading-5 text-gray-300">
                We care about the protection of your data. Read our
                <a href="#" class="text-white font-medium underline">
                    Privacy Policy.
                </a>
            </p>
        </div>
    </div>
</div>
<!-- END SUBSCRIBE -->
{% endblock %}