{% extends "base.html" %}
{% block content %}


<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative pt-4 px-4 sm:px-6 lg:px-8">
        <div class="prose prose-lg text-gray-500 mx-auto">
            {% if page_name.split("category/")[1] == 'newsletters' %}
            Every week I send out the top 5 things I learnt and all the crazy experiments I run.
            They are <b>hilariously</b> epic.

            <br /><br />
            Put your email here and make me super happy 👇👇👇

            {% include 'newsletter_form_yanni_army.html' %}
            <br />
            Or you don't believe me how insanely awesome these newsletters are, read some of the past issues
            below
            <br />
            <br />
            {% endif %}
        </div>

    </div>
    <p class="text-center  font-semibold uppercase">
        <span class="text-gray-500">{{page_name.split("category/")[1]}} </span>
    </p>

    <div class="relative pt-4 px-4 sm:px-6 lg:px-8">
        {% for article in articles_page.object_list %}
        <div class="text-lg max-w-prose mx-auto mb-6">
            <a class="leading-6 font-semibold text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150"
                href="../{{article.url}}">{{article.title}}</a>
            <span class="text-right text-sm">
                - {{ article.locale_date }}
            </span>

        </div>

        <div class="prose prose-lg text-gray-500 mx-auto">

        </div>
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
</div>



{% endblock %}