<div x-data="form_check()" x-init="showModal=false">
    <div x-show="showModal" style="display: none;" class="fixed inset-0 flex items-center justify-center z-50">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

        <div class="modal-container bg-white mx-auto rounded shadow-lg z-50" @click.away="showModal = false">
            <div class="modal-content py-4 text-left px-6">
                <h2 class="text-sm text-black">Solve this to continue => 2+2=?
                </h2>

                <input type="text" x-model="inputText" class="border text-black border-gray-300 px-4 py-2 mt-2 mb-4" />

                <button @click="submitForm"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">OK</button>
            </div>
        </div>
    </div>

    <form @submit.prevent="showModal = true" x-show="!showModal || formSubmitted" method="post" class="sm:flex"
        action="https://sendfox.com/form/1we8gr/3ejnj0" id="3ejnj0" data-async="true">
        <input type="email"
            class="appearance-none block w-full px-3 py-3 border border-gray-300 text-base leading-6 rounded-md placeholder-gray-500 shadow-sm focus:outline-none focus:text-gray-800 focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:flex-1"
            placeholder="Email" name="email" required />
        <!-- no botz please -->
        
        <button
            class="mt-3 w-full px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 shadow-sm  focus:outline-none focus:shadow-outline active:bg-gray-900 transition duration-150 ease-in-out sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto"
            type="submit">Get them all here
        </button>
    </form>
    <script src="https://sendfox.com/js/form.js"></script>
</div>
