<div>
    <form method="post" action="https://sendfox.com/form/1we8gr/1gxrw6" class="sendfox-form sm:flex" id="1gxrw6"
        data-async="true" data-recaptcha="true">
        <p><label for="sendfox_form_email"></label><input type="email" id="sendfox_form_email"
                class="appearance-none block w-full px-3 py-3 border border-gray-300 text-base leading-6 rounded-md placeholder-gray-500 shadow-sm focus:outline-none focus:text-gray-800 focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:flex-1"
                placeholder="Email" name="email" required /></p>
        <!-- no botz please -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password"
                tabindex="-1" value="" autocomplete="off" /></div>
        <p><button
                class="mt-3 w-full px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 shadow-sm  focus:outline-none focus:shadow-outline active:bg-gray-900 transition duration-150 ease-in-out sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto"
                type="submit">Get epic knowledge in your email</button></p>
    </form>
    <script src="https://sendfox.com/js/form.js"></script>
</div>